<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Merchant Voupon overview - Voupon</title>
  <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div th:replace="~{fragments/admin-menu :: admin-menu}">Admin Menu</div>
<div class="admin-body">
  <h1 th:text="${merchant.companyName + ' Voupons'}">Merchant voupons</h1>
  <div class="fixed-action-btn">
    <a th:href="@{'/account/voupons/merchant/' + ${merchant.id} + '/add'}" class="btn btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
  </div>

  <div th:if="${!voupons.empty}" class="row">
    <div th:each="voupon : ${voupons}" class="col s12 l6">
      <div class="card white z-depth-4">
        <div class="card-content black-text">
          <span th:text="${voupon.name}" class="card-title">Voupon name</span>
          <p th:text="${voupon.description}">Voupon description</p>
          <p>&nbsp;</p>
          <p><strong>Expire date:</strong><span th:text="${' ' + voupon.expireDate}"></span></p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn btn-small" th:href="@{'/account/voupons/merchant/' + ${merchant.id} + '/edit/' + ${voupon.id}}"><i class="material-icons left">edit</i>Edit</a>
          <a class="waves-effect waves-light btn btn2 btn-small btn-delete"  th:href="@{'/account/voupons/delete/' + ${merchant.id} + '/' + ${voupon.id}}"><i class="material-icons left">delete</i>Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" th:if="${voupons.empty}">
    <h4>None available</h4>
    <a class="waves-effect waves-light btn btn-small" th:href="@{'/account/voupons/merchant/' + ${merchant.id} + '/add'}"><i class="material-icons left">card_giftcard</i>Add voupon</a>
  </div>

</div>
<script src="/js/m.js"></script>
</body>
</html>