<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Merchants edit - Voupon</title>
    <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div th:replace="~{fragments/admin-menu :: admin-menu}">Admin Menu</div>
<div class="admin-body">

    <div class="container">
        <div class="row">
            <form class="col s12 m6 offset-m3" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <h1 class="no-margin-bottom">Create merchant</h1>
                    </div>

                    <div class="input-field col s12">
                        <input id="companyname" type="text" class="validate">
                        <label for="companyname">Company Name</label>
                        <span class="helper-text invalid"></span>
                    </div>

                    <div class="input-field col s12">
                        <button class="col s12 btn waves-effect waves-light" type="submit" name="action">Create merchant</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="/js/m.js"></script>
</body>
</html>