<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Merchants edit - Voupon</title>
    <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div th:replace="~{fragments/admin-menu :: admin-menu}">Admin Menu</div>
<div class="admin-body">
<main>
    <div class="container">
        <div class="row">
            <form class="col s12 l8 offset-l2" th:action="@{/account/merchant/edit}" th:object="${merchant}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <h1 class="no-margin-bottom" th:text="${merchant.id} != 0 ? 'Edit merchant' : 'Create merchant'"></h1>
                    </div>

                    <input type="hidden"  th:field="*{id}">

                    <div class="input-field col s12">
                        <input id="companyname" type="text" class="validate" th:field="*{companyName}">
                        <label for="companyname">Company Name</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="pagehandle" type="text" class="validate" th:field="*{pageHandle}">
                        <label for="pagehandle">Page Handle</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('pageHandle')}" th:errors="*{pageHandle}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="telephone" type="text" class="validate"  th:field="*{telephone}">
                        <label for="telephone">Telephone</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input placeholder="email@domain.com" id="email" type="email" class="validate" th:field="*{email}">
                        <label for="email">E-mail</label>
                        <span class="helper-text" data-error="Invalid format" data-success="Valid"></span>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="street" type="text" class="validate" th:field="*{street}">
                        <label for="street">Street</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="number" type="text" class="validate" th:field="*{number}">
                        <label for="number">Number</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="postalcode" type="text" class="validate" th:field="*{postalCode}">
                        <label for="postalcode">Postalcode</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="city" type="text" class="validate" th:field="*{city}">
                        <label for="city">City</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="country" type="text" class="validate" th:field="*{country}">
                        <label for="country">Country</label>
                        <select name="continent" class="form-control">
                            <option th:each="country : ${T(voupon.merchant.Merchant.Contry.Europe).values()}"
                                    th:value="${country}" th:text="${country.displayName}"
                                    th:selected="${merchant.country.equals(country)}">
                            </option>
                        </select>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="vat" type="text" class="validate" th:field="*{VAT}">
                        <label for="vat">VAT</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('VAT')}" th:errors="*{VAT}"></span>
                    </div>

                    <div class="input-field col s12">
                        <textarea class="materialize-textarea validate" id="companydescription" th:field="*{companyDescription}"></textarea>
                        <label for="companydescription">Company Description</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('companyDescription')}" th:errors="*{companyDescription}"></span>
                    </div>

                    <div class="input-field col s12">
                        <textarea class="materialize-textarea validate" id="checkoutdescription" th:field="*{checkoutDescription}"></textarea>
                        <label for="checkoutdescription">Checkout Description</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('checkoutDescription')}" th:errors="*{checkoutDescription}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="paypalemail" type="email" class="validate" th:field="*{paypalEmail}">
                        <label for="paypalemail">Paypal E-mail</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('paypalEmail')}" th:errors="*{paypalEmail}"></span>
                    </div>

                    <div class="input-field col s12">
                        <button class="col s12 btn waves-effect waves-light" type="submit" name="action" th:text="${merchant.id} != 0 ? 'Edit merchant' : 'Create merchant'"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</div>
<script src="/js/m.js"></script>
</body>
</html>