<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Merchants overview - Voupon</title>
  <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div th:replace="~{fragments/admin-menu :: admin-menu}">Admin Menu</div>
<div class="admin-body">
  <h1>My merchants</h1>
  <div class="fixed-action-btn">
    <a th:href="@{/account/merchant/add}" class="btn btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
  </div>

  <div th:if="${!merchants.empty}" class="row">
    <div th:each="merchant : ${merchants}" class="col s12 l6">
      <div class="card white z-depth-4">
        <div class="card-content black-text">
          <span th:text="${merchant.companyName}" class="card-title">Merchant company name</span>
          <a class="website" alt="Visit website on Voupon" th:href="@{'http://localhost:8080/' + ${merchant.pageHandle}}" target="_blank"><i class="material-icons">public</i></a>
          <p th:text="${merchant.street + ' ' + merchant.number + ', ' + merchant.postalCode + ' ' + merchant.city + ', ' + merchant.country}">Merchant address</p>
          <p>&nbsp;</p>
          <p th:text="${merchant.companyDescription}">Merchant company description</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn btn-small"  th:href="@{/account/merchant/edit/} + ${merchant.id}"><i class="material-icons left">edit</i>Edit</a>
          <a class="waves-effect waves-light btn btn2 btn-small btn-delete" href="#"><i class="material-icons left">delete</i>Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" th:if="${merchants.empty}">
    <h4>None available</h4>
  </div>

</div>
<script src="/js/m.js"></script>
</body>
</html>