<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:fragment="header">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-target="nav-main" class="left sidenav-trigger"><i class="material-icons">menu</i></a>
        <a th:href="@{/}" class="brand-logo center">
          <h1 class="center-align">Voupon</h1>
        </a>
        <ul class="right">
          <li><a href="#" data-target="nav-account" class="sidenav-trigger"><i class="material-icons">account_circle</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="nav-main">
    <li><a href="/" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">Home</a></li>
    <li><a th:href="@{/about}" th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}">About</a></li>
    <li><a th:href="@{/pricing}" th:classappend="${#httpServletRequest.getRequestURI() == '/pricing' ? 'active':''}">Pricing</a></li>
    <li><a th:href="@{/faq}" th:classappend="${#httpServletRequest.getRequestURI() == '/faq' ? 'active':''}">FAQ</a></li>
    <li><a th:href="@{/contact}" th:classappend="${#httpServletRequest.getRequestURI() == '/contact' ? 'active':''}">Contact</a></li>
  </ul>
  <ul class="sidenav" id="nav-account">
    <li class="sidenav-section center" sec:authorize="isAuthenticated()">
      <div class="logindetails">
        <p><span class="name" th:text="${user.getFirstName() + ' ' + user.getLastName()}"></span><br/>
          <span th:text="${user.getEmail()}"></span></p>
      </div>
    </li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/account/dashboard}" th:classappend="${#httpServletRequest.getRequestURI() == '/account/dashboard' ? 'active':''}"><i class="material-icons left">home</i><span>Dashboard</span></a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/account/overview}" th:classappend="${#httpServletRequest.getRequestURI() == '/account/overview' || #httpServletRequest.getRequestURI() == '/account/edit' ? 'active':''}"><i class="material-icons left">account_box</i><span>Account</span></a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/account/merchant/overview}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account/merchant') ? 'active':''}"><i class="material-icons left">business</i><span>Merchant</span></a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/account/voupons/overview}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account/voupons') ? 'active':''}"><i class="material-icons left">card_giftcard</i><span>Voupons</span></a></li>
    <li class="sidenav-section center" sec:authorize="isAnonymous()">

      <form th:action="@{/login}" method="post" name="loginForm">
        <div class="row">
          <div class="col s12">
            <h3>Login</h3>
          </div>
          <div class="input-field col s12">
            <input id="username" name="username" type="text" class="validate">
            <label for="username">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="password-sn" name="password" type="password" class="validate">
            <label for="password-sn">Password</label>
          </div>
          <div class="input-field col s12">
            <button class="col s12 btn waves-effect waves-light" type="submit">Log In</button>
          </div>
        </div>
      </form>
    </li>
    <li class="sidenav-section center" sec:authorize="isAnonymous()">
      <div class="row">
        <div class="col s12">
          <h3>New to Voupon?</h3>
          <p class="description-text">Creating an account takes only 1 minute</p>
          <a class="waves-effect waves-light btn display-block" th:href="@{/signup}">Sign up</a>
        </div>
      </div>
    </li>
    <li class="sidenav-section center" sec:authorize="isAuthenticated()">
      <a id="logoutLink" class="waves-effect waves-light btn btn2" href="/">Logout</a>
      <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
      </form>
    </li>
  </ul>
</header>
</body>
</html>