<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:fragment="header">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-target="nav-main" class="left sidenav-trigger"><i class="material-icons">menu</i></a>
        <a th:href="@{/}" class="brand-logo center">
          <h1 class="center-align">Voupon</h1>
        </a>
        <ul class="right">
          <li><a href="#" data-target="nav-account" class="sidenav-trigger"><i class="material-icons">account_circle</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="nav-main">
    <li><a href="/">Home</a></li>
    <li><a th:href="@{/about}">About</a></li>
    <li><a th:href="@{/pricing}">Pricing</a></li>
    <li><a th:href="@{/faq}">FAQ</a></li>
    <li><a th:href="@{/contact}">Contact</a></li>
  </ul>
  <ul class="sidenav" id="nav-account">
    <li class="center">
      <div class="logindetails" sec:authorize="isAuthenticated()">

      </div>
    </li>
    <li class="center">
      <a id="logoutLink" href="/">Logout</a>
      <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
      </form>
    </li>
  </ul>
</header>
</body>
</html>