<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="checkoutheaderstep2" id="checkout-steps-header">
  <div id="steps">
    <div id="step-1" class="checkout-step completed-step">
      <strong>1</strong>
    </div>
    <div id="step-2" class="checkout-step active-step">
      <strong>2</strong>
    </div>
    <div id="step-3" class="checkout-step">
      <strong>3</strong>
    </div>
    <div id="step-4" class="checkout-step">
      <strong>4</strong>
    </div>
  </div>
</div>

<div th:fragment="checkoutheaderstep3" id="checkout-steps-header">
  <div id="steps">
    <div id="step-1" class="checkout-step completed-step">
      <strong>1</strong>
    </div>
    <div id="step-2" class="checkout-step completed-step">
      <strong>2</strong>
    </div>
    <div id="step-3" class="checkout-step active-step">
      <strong>3</strong>
    </div>
    <div id="step-4" class="checkout-step">
      <strong>4</strong>
    </div>
  </div>
</div>
</body>
</html>