<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="orderdetails" class="checkout-container white z-depth-3">
    <div class="voupons-container">
        <div id="chosen-voupon">
            <div class="voupon-title">
                <h4 th:text="${checkoutDto.voupon.name}"></h4>
                <h5 th:text="'&euro;' + ${checkoutDto.voupon.vouponValues[0].value}"></h5>
            </div>
            <div class="voupon-description">
                <p th:text="'For use in ' + ${checkoutDto.merchant.companyName}"></p>
            </div>
        </div>
        <div th:replace="~{fragments/checkout/checkout-steps-header :: checkoutheaderstep2}">Checkout steps header</div>
        <div id="customer-recipient-container">
            <form th:action="@{'/' + ${checkoutDto.merchant.pageHandle} + '/checkout/orderdetails'}" method="post">
                <div th:object="${customer}">
                    <div class="input-field col s12">
                        <h5>Your details</h5>
                    </div>

                    <div class="input-field col s12">
                        <input id="customerfirstname" type="text" class="validate" th:field="*{customerFirstName}">
                        <label for="customerfirstname">First Name</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('customerFirstName')}" th:errors="*{customerFirstName}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="customerlastname" type="text" class="validate" th:field="*{customerLastName}">
                        <label for="customerlastname">Last Name</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('customerLastName')}" th:errors="*{customerLastName}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="customeremail" type="email" class="validate" th:field="*{customerEmail}">
                        <label for="customeremail">Email</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></span>
                    </div>
                </div>

                <div th:object="${recipient}">

                    <div class="input-field col s12">
                        <h5>Recipient details</h5>
                    </div>

                    <div class="input-field col s12">
                        <input id="recipientfirstname" type="text" class="validate" th:field="*{recipientFirstName}">
                        <label for="recipientfirstname">First Name</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('recipientFirstName')}" th:errors="*{recipientFirstName}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="recipientlastname" type="text" class="validate" th:field="*{recipientLastName}">
                        <label for="recipientlastname">Last Name</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('recipientLastName')}" th:errors="*{recipientLastName}"></span>
                    </div>

                    <div class="input-field col s12">
                        <input id="recipientemail" type="email" class="validate" th:field="*{recipientEmail}">
                        <label for="recipientemail">Email</label>
                        <span class="helper-text invalid" th:if="${#fields.hasErrors('recipientEmail')}" th:errors="*{recipientEmail}"></span>
                    </div>

                    <div class="input-field col s12 action-buttons">
                        <button class="left btn btn2 waves-effect waves-light" type="submit" id="previous" name="previous" th:text="Back"></button>
                        <button class="right btn waves-effect waves-light" type="submit" id="next" name="next" th:text="Next"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div><p th:text="${checkoutDto.merchant.checkoutDescription}"></p></div>
</div>

<div th:fragment="ordersummary" class="checkout-container white z-depth-3">
    <div class="order-summary-container">
        <div th:replace="~{fragments/checkout/checkout-steps-header :: checkoutheaderstep3}">Checkout steps header</div>
        <div class="title-container">
            <h4>Order summary</h4>
        </div>
        <div class="order-container col s12">
            <h5>Order details</h5>
            <p>
                <strong>Gift card</strong><br>
                <span th:text="${checkoutDto.voupon.name}"></span>
                <strong class="right value" th:text="${'€' + checkoutDto.voupon.vouponValues[0].value}"></strong>
            </p>
        </div>
        <div class="customer-recipient-container col s12">
            <h5>Personal details</h5>
            <p>
                <strong>Sender</strong><br>
                <span th:text="${checkoutDto.customer.customerFirstName + ' ' + checkoutDto.customer.customerLastName}"></span><br>
                <span th:text="${checkoutDto.customer.customerEmail}"></span>
            </p>
            <p>
                <strong>Recipient</strong><br>
                <span th:text="${checkoutDto.recipient.recipientFirstName + ' ' + checkoutDto.recipient.recipientLastName}"></span><br>
                <span th:text="${checkoutDto.recipient.recipientEmail}"></span>
            </p>
        </div>
        <div class="input-field col s12 action-buttons">
            <form th:action="@{'/' + ${checkoutDto.merchant.pageHandle} + '/checkout/ordersummary'}" method="post">
                <button class="left btn btn2 waves-effect waves-light" type="submit" id="previous" name="previous" th:text="Back"></button>
                <button class="right btn waves-effect waves-light" type="submit" id="next" name="next" th:text="Confirm"></button>
            </form>
        </div>
    </div>
    <div><p th:text="${checkoutDto.merchant.checkoutDescription}"></p></div>
</div>

<div th:fragment="orderconfirmation" class="checkout-container white z-depth-3">
    <div class="order-confirmation-container">
        <div th:replace="~{fragments/checkout/checkout-steps-header :: checkoutheaderstep4}">Checkout steps header</div>
        <div class="title-container">
            <h4>Order confirmation</h4>
        </div>
        <div class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>
        <div class="input-field col s12 action-buttons">
            <form th:action="@{'/' + ${checkoutDto.merchant.pageHandle} + '/checkout/orderconfirmation'}" method="post">
                <button class="right btn waves-effect waves-light" type="submit" id="next" name="next" th:text="'Buy another'"></button>
            </form>
        </div>
    </div>
    <div><p th:text="${checkoutDto.merchant.checkoutDescription}"></p></div>
</div>
</body>
</html>