body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Oxygen', sans-serif; */
}
.btn{
    background-color: #FBAB20;
}
.btn:hover{
    background-color: #FFF;
    color: #FF9800;
}
.btn2{
    background-color: #DDD;
    color:#333;
}
.btn2:hover{
    background-color: #EFEFEF;
    color: #000;
}
.btn.btn-floating{
    background-color: #FBAB20;
}
.btn.btn-floating:hover{
    background-color: #fb8c00;
}
.btn.btn-delete:hover{
    background-color: #b71c1c;
    color: #FFF;
}

/* Helper classes */
.vcenter{
    min-height: 100vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.helper-text.invalid{
    color: #F44336;
}

.display-block{
    display: block;
}

.text-shadow{
    text-shadow: 2px 4px 3px rgb(0 0 0 / 50%);
}

.no-margin-bottom{
    margin-bottom: 0;
}
.no-padding-bottom{
    margin-bottom: 0;
}
.margin-top-2{
    margin-top: 2em;
}
.margin-bottom-1{
    margin-bottom: 1em;
}


/* Logo */
.brand-logo{
    top: 5px;
}
@media only screen and (min-width: 601px) {
    .brand-logo{
        top: 10px;
    }
}

.brand-logo h1{
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    color: #FFF;
    margin: 0;
}



/* Nav */
nav{
    background: #654AD7; /*#002069;*/
    color: #FFF;
}

nav ul li a,
nav .sidenav-trigger{
    /* color: rgba(0,0,0,0.87); */
    color: #FFF;
}
nav ul li a:hover,
nav .sidenav-trigger:hover{
    /* color: rgba(0,0,0,0.75); */
    color:#DDD;
    background: transparent;
}

@media only screen and (min-width: 993px) {
    nav a.sidenav-trigger {
        display: block;
    }
}

/*
// SideNavs
*/
.sidenav li>a.active{
    background-color: rgba(0,0,0,0.05);
}
/* Nav Account sidenav */
#nav-account .sidenav-section{
    margin: 1rem;
}
#nav-account li .input-field{
    margin-top: 0;
}
#nav-account h3{
    font-size: 2em;
    text-align: left;
    margin-bottom: 0;
}
#nav-account li > a.btn{
    margin: 10px 0;
}
#nav-account p.description-text{
    text-align: left;
    margin: 0 0 1em;
    line-height: 125%;
}
#nav-account .logindetails{
    padding: 0.5em 0;
}
#nav-account .logindetails p{
    line-height: 150%;
}
#nav-account .logindetails .name{
    font-size: 1.1em;
}
#nav-account #logoutLink{
    background-color: #DDD;
    color:#333;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
#nav-account #logoutLink:hover{
    background-color: #EFEFEF;
    color: #000;
}

/* Home */
#home-slide-1,
#home-slide-2,
#home-slide-3,
#home-slide-4{
    padding: 2em 0;
}

#home-slide-1{
    height: 100vh;
    margin-top: -56px;
}
#home-slide-1 .btn{
    margin: 0 1em 1em 0;
}

#home-slide-5{
    background: url("../images/home-qr-scan.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#home-slide-3 h4{
    margin-bottom: 0;
}
.carousel.companies{
    height: 250px;
    background: #333;
    -webkit-box-shadow: inset 2px 2px 19px -1px #000000;
    box-shadow: inset 2px 2px 19px -1px #000000;
}
.carousel.companies .carousel-item{
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.carousel.how-voupon-works{
    height: 650px;
}
@media only screen and (min-width: 601px) {
    .carousel.how-voupon-works{
        height: 500px;
    }
}

.carousel.how-voupon-works .indicators .indicator-item{
    background-color: #002069;
}
.carousel.how-voupon-works .indicators .indicator-item.active{
    background-color: #FBAB20;
}

.carousel.how-voupon-works .carousel-item h2{
    font-family: 'Oxygen', sans-serif;
    font-size: 2.25em;
}
.carousel.how-voupon-works .carousel-item p{
    text-align: left;
}


/* Contact */
@media only screen and (min-width: 601px) {
    h1 + p{
        max-width: 80%;
    }
}

.contactform-container{
    position: relative;
    background: #FFF;
    padding: 1.5em;
    margin-top: 8em;
    margin-bottom: 4em;
}

@media only screen and (min-width: 601px) {
    .contactform-container{
        margin-top: 4em;
    }
}

@media only screen and (min-width: 992px) {
    .contactform-container{
        max-width: 80%;
        margin: 4em auto;
    }
}

.contactgirl{
    position: absolute;
    top: -135px;
    right: -50px;
}


/*
    ADMIN
*/
.admin-body strong{
    font-weight: 600;
}


/* Admin Menu */
#admin-menu .sidenav{
    top: 56px;
    z-index: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 60px;
    padding-top: 1em;
}
@media only screen and (min-width: 601px) {
    #admin-menu .sidenav{
        top: 64px;
        width: 200px;
    }
}
@media only screen and (min-width: 992px) {
    #admin-menu .sidenav{
        width: 300px;
    }
}

#admin-menu .sidenav li > a{
    padding: 0;
}
#admin-menu .sidenav li > a i{
    margin: 0 18px;
}
#admin-menu .sidenav li > a span{
    display: none;
}
@media only screen and (min-width: 601px) {
    #admin-menu .sidenav li > a{
        padding: 0 32px;
    }
    #admin-menu .sidenav li > a i{
        margin: 0 32px 0 0;
    }
    #admin-menu .sidenav li > a span{
        display: inline-block;
    }
}


/* Admin general styling */
.admin-body{
    padding: 1em 1em 1em 85px;
}
@media only screen and (min-width: 601px) {
    .admin-body{
        padding: 1em 1em 1em 225px;
    }
}
@media only screen and (min-width: 992px) {
    .admin-body{
        padding: 1em 1em 1em 325px;
    }
}

/* Cards */
.card .card-content a.website{
    position: absolute;
    right: 24px;
    top: 30px;
}
.card .card-content a.website:hover{
    color: #fb8c00;
}
.card .card-action a{ margin-right: 0.5em;}
.card .card-action a:last-child{ margin-right: 0;}


/* Merchant frontend */
.company-info-container,
.checkout-container{
    padding: 1em;
}
.company-info-container h2{
    margin-top: 0;
}
.voupons-container .voupon-item{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 1em;
}
.voupons-container .voupon-item .voupon-details{
    display: flex;
    align-items: center;
}
.voupons-container .voupon-item .voupon-details strong{
    flex-grow: 1;
    flex-wrap: wrap;
    flex-flow: wrap;
}
.voupons-container .voupon-item strong,
.voupons-container .voupon-item .value{
    font-weight: 600;
}
.voupons-container .voupon-item .value{
    padding-right: 1em;
    font-size: 1.5em;
}
#chosen-voupon{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    text-align: center;
}
#chosen-voupon .voupon-description{
    font-weight: 600;
}
.voupons-container form h5{
    margin-bottom: 0;
}
.checkout-container .action-buttons{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 1em;
}


#checkout-steps-header{
    margin-top: 1em;
}
#checkout-steps-header #steps{
    text-align: center;
}
#checkout-steps-header .checkout-step{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fb8c00;
    background-color: #fff;
    line-height: 10px;
    height: 10px;
    width: 10px;
    margin: 0 0.25em;
    vertical-align: middle;
}
#checkout-steps-header .checkout-step.active-step,
#checkout-steps-header .checkout-step.completed-step{
    border-radius: 50%;
}
#checkout-steps-header .checkout-step.completed-step{
    background-color: #fb8c00;
}
#checkout-steps-header .checkout-step.active-step{
    background-color: #FBAB20;
    width: 16px;
    line-height: 16px;
    height: 16px;
}
#checkout-steps-header .checkout-step strong{
    display: none;
}

.order-summary-container strong{
    font-weight: 600;
}
.order-summary-container .title-container{
    margin-bottom: 1.75em;
}
.order-summary-container .title-container h4{
    text-align: center;
}
.order-summary-container .order-container{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

