<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Digital Voucher service - Voupon</title>
    <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<p>Hi, I am the dashboard</p>
<p>This will be my sidenav for my major operations</p>
<p>These are my voupons</p>
<script src="/js/m.js"></script>
</body>
</html>