<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>About - Voupon</title>
  <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>About Voupon</h1>
      <h6>We are a team of three java developers: Jeroen, Xenia and Winnie.</h6>
      <p>Who have jointly created a project to make it easy for merchants to sell their services or products in a secure manner for a low price.</p>
      <p>Just by putting a link on their websites that takes care of everything for them.</p>
    </div>
  </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>