<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>About - Voupon</title>
  <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>About Voupon</h1>
      <h6>Voupon (noun.) - Coupon + voucher. A virtual gift card, that is incredibly thoughtful.</h6>
      <p>Starting out as a small study project founded by three Java Developers, Voupon grew to the successful company it is today. We wanted to create something that is hassle-free, intuitive to use, and can still bring so much to the table.</p>
      <p>Voupon is a fast and easy way for you to offer completely customisable gift vouchers to your online customers.
        Easily access your own, or your company’s information, create Voupons with a value of your liking, add themes, set expiry dates and so many other things.
      </p>
      <p>All you have to do is sign-up, set up your monthly payment of only €15/month, and we’ll handle the rest!</p>
    </div>
  </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>