<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>About - Voupon</title>
  <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>About Voupon</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula turpis vitae sollicitudin accumsan. Praesent eu erat arcu. Vivamus vel ante mauris. Aenean congue lorem non dui scelerisque, vitae finibus massa tincidunt. Integer ex dolor, posuere id mollis in, accumsan quis libero. Suspendisse felis dui, gravida at sem a, rhoncus efficitur mauris. Nam sed mauris lorem. Phasellus convallis, massa eget ultrices eleifend, magna erat faucibus enim, eu elementum risus nunc nec leo. Maecenas luctus ut purus id congue. In turpis neque, lobortis et elementum nec, lobortis ut nibh. Aliquam tortor mi, vestibulum in lectus sit amet, molestie sodales massa.</p>
    </div>
  </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>