<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${voupon.Name}"></title>
    <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center" th:text="${voupon.Name}"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="company-info-container white z-depth-3">
                <h2>Choose your voupon here</h2>
                <h3>Voupon</h3>
                <p th:text="${voupon.name}"></p>
                <p th:text="${voupon.description}"></p>
                <p th:text="${voupon.theme}"></p>
                <p th:text="${voupon.expireDate}"></p>
                <p th:text="${voupon.vouponValue}"></p>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="company-info-container white z-depth-3">
                <h3>Voupon</h3>
                <p th:text="${voupon.name}"></p>
                <p th:text="${voupon.description}"></p>
                <p th:text="${voupon.theme}"></p>
                <p th:text="${voupon.expireDate}"></p>
                <p th:text="${voupon.vouponValue}"></p>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="company-info-container white z-depth-3">
                <h3>Voupon</h3>
                <p th:text="${voupon.name}"></p>
                <p th:text="${voupon.description}"></p>
                <p th:text="${voupon.theme}"></p>
                <p th:text="${voupon.expireDate}"></p>
                <p th:text="${voupon.vouponValue}"></p>
            </div>
        </div>
            <div class="col s12 m6">
                <div class="company-info-container white z-depth-3">
                    <h3>Voupon</h3>
                    <p th:text="${voupon.name}"></p>
                    <p th:text="${voupon.description}"></p>
                    <p th:text="${voupon.theme}"></p>
                    <p th:text="${voupon.expireDate}"></p>
                    <p th:text="${voupon.vouponValue}"></p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="company-info-container white z-depth-3">
                <h3>Voupon</h3>
                <p th:text="${voupon.name}"></p>
                <p th:text="${voupon.description}"></p>
                <p th:text="${voupon.theme}"></p>
                <p th:text="${voupon.expireDate}"></p>
                <p th:text="${voupon.vouponValue}"></p>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="checkout-container white z-depth-3">
                <p>List of voupons here</p>
                <p th:text="${mercant.checkoutDescription}"></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>