<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>FAQ - Voupon</title>
  <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Frequently asked questions</h1>
      <h6>How much does this cost me?</h6>
      <p>Our service has a fixed cost of €15 per month. For this, an automatic payment is set up with PayPal when registering.</p>
      <h6>How do customers pay?</h6>
      <p>Your customers pay for their orders through PayPal.</p>
      <h6>How do we make sure your gift cards only get used once?</h6>
      <p>When the voupon with its QR-code is offered on your website, the merchant opens their account and recovers the voupon by scanning the QR-code.</p>
      <p>This way, your unique code will automatically be verified and correctly redeemed.</p>
      <h6>More questions?</h6>
      <p>Please contact us via our contact form!</p>
    </div>
  </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>