<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>FAQ - Voupon</title>
  <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Frequently asked questions</h1>
      <p>* What do I pay for this?</p>
      <p>The service has a fixed cost of 15 € per month. For this, an automatic payment is set up with PayPal when registering.</p>
      <p>* How do customers pay?</p>
      <p>Your customers pay their orders with paypal.</p>
      <p>* How do you make sure gift certificates only get used once?</p>
      <p>When the voupon with QR-code is offered on your website, the merchant opens his/her account and recovers the voupon by scanning the QR-code. This unique code is automatically checked.</p>
      <p>* More questions?</p>
      <p>Contact us via the contact form.</p>
    </div>
  </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>