<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Digital Voucher service - Voupon</title>
    <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div id="home-slide-1" class="vcenter">
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <h2 th:inline="text">Digital gift vouchers solution</h2>
                <p th:inline="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget laoreet nunc. Maecenas porttitor lectus in sem tempus vestibulum. Aliquam feugiat ipsum lectus, nec suscipit lacus cursus in.</p>
                <a class="waves-effect waves-light btn"><i class="material-icons left">create</i>Sign up</a>
                <a class="waves-effect waves-light btn btn2"><i class="material-icons left">mail</i>Get in touch</a>
            </div>
            <div class="col s12 m7">
                <div th:replace="~{fragments/svggraphics :: homeslide1}">SVG graph slide 1</div>
            </div>
        </div>
    </div>
</div>
<div id="home-slide-2">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <i class="material-icons large center display-block">settings</i>
                <h3 th:inline="text" class="center">Easy setup</h3>
                <p th:inline="text" class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget laoreet nunc. Maecenas porttitor lectus in sem tempus vestibulum.</p>
            </div>
            <div class="col s12 m4">
                <i class="material-icons large center display-block">devices</i>
                <h3 th:inline="text" class="center">User-friendly</h3>
                <p th:inline="text" class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget laoreet nunc. Maecenas porttitor lectus in sem tempus vestibulum.</p>
            </div>
            <div class="col s12 m4">
                <i class="material-icons large center display-block">trending_up</i>
                <h3 th:inline="text" class="center">Track sales</h3>
                <p th:inline="text" class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget laoreet nunc. Maecenas porttitor lectus in sem tempus vestibulum.</p>
            </div>
        </div>
    </div>
</div>
<div id="home-slide-3">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 th:inline="text" class="center">10,000+ Happy customers</h4>
            </div>
        </div>
    </div>
    <div class="carousel companies">
        <a class="carousel-item" href="#one!"><img src="/images/company_logos/1.png"></a>
        <a class="carousel-item" href="#two!"><img src="/images/company_logos/3.png"></a>
        <a class="carousel-item" href="#three!"><img src="/images/company_logos/4.png"></a>
        <a class="carousel-item" href="#four!"><img src="/images/company_logos/5.png"></a>
        <a class="carousel-item" href="#five!"><img src="/images/company_logos/6.png"></a>
        <a class="carousel-item" href="#six!"><img src="/images/company_logos/8.png"></a>
        <a class="carousel-item" href="#seven!"><img src="/images/company_logos/9.png"></a>
        <a class="carousel-item" href="#eight!"><img src="/images/company_logos/10.png"></a>
        <a class="carousel-item" href="#nine!"><img src="/images/company_logos/11.png"></a>
        <a class="carousel-item" href="#ten!"><img src="/images/company_logos/12.png"></a>
        <a class="carousel-item" href="#eleven!"><img src="/images/company_logos/13.png"></a>
    </div>
</div>
<div id="home-slide-4" class="no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 th:inline="text" class="center no-margin-bottom">How Voupon works</h2>
            </div>
        </div>
    </div>
    <div class="carousel carousel-slider center how-voupon-works">
        <!--<div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>-->
        <div class="carousel-item" href="#one!">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <h2>Signup to Voupon, add your businesses & create voupons</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at consequat sapien. Proin rhoncus imperdiet lorem, vitae molestie justo pulvinar ac. Aliquam posuere quam ac odio laoreet, ut fringilla turpis suscipit.</p>
                    </div>
                    <div class="col s12 m6">
                        <div th:replace="~{fragments/svggraphics :: homehow1}">SVG graph How 1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" href="#two!">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <div th:replace="~{fragments/svggraphics :: homehow2}">SVG graph How 2</div>
                    </div>
                    <div class="col s12 m6">
                        <h2>Redeem Voupons with smartphone</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at consequat sapien. Proin rhoncus imperdiet lorem, vitae molestie justo pulvinar ac. Aliquam posuere quam ac odio laoreet, ut fringilla turpis suscipit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" href="#three!">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <h2>Track sales</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at consequat sapien. Proin rhoncus imperdiet lorem, vitae molestie justo pulvinar ac. Aliquam posuere quam ac odio laoreet, ut fringilla turpis suscipit.</p>
                    </div>
                    <div class="col s12 m6">
                        <div th:replace="~{fragments/svggraphics :: homehow3}">SVG graph How 3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="home-slide-5">
    <div class="container vcenter">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <h2 th:inline="text" class="white-text text-shadow">Contact us for support or an online demo</h2>
                <a class="waves-effect waves-light btn"><i class="material-icons left">mail</i>Get in touch</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>