<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${merchant.companyName}"></title>
    <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center" th:text="${merchant.companyName}"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="company-info-container white z-depth-3">
                <h2>Buy a Gift Card</h2>
                <p th:text="${merchant.companyDescription}"></p>
                <p>&nbsp;</p>
                <h5>Contact us</h5>
                <p th:text="${merchant.street + ' ' + merchant.number}"></p>
                <p th:text="${merchant.postalCode}"></p>
                <p th:text="${merchant.city}"></p>
                <p th:text="${merchant.country}"></p>
                <p th:text="${merchant.telephone}"></p>
                <p th:text="${merchant.email}"></p>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="checkout-container white z-depth-3">
                <div class="voupons-container" th:if="${!voupons.empty}">
                    <div class="voupon-item" th:each="voupon : ${voupons}">
                        <strong th:text="${voupon.name}">Voupon Name</strong>
                        <a href="#" class="btn right">Buy</a>
                        <p class="description" th:text="${voupon.description}">Voupon description</p>
                        <div class="value" th:if="${!voupon.vouponValues.empty}">
                            <span th:text="${voupon.vouponValues[0].value}"></span>
                        </div>
                    </div>
                </div>
                <div><p th:text="${merchant.checkoutDescription}"></p></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>