<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${merchant.companyName}"></title>
    <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center" th:text="${merchant.companyName}"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="company-info-container white z-depth-3">
                <h2>Buy a Gift Card</h2>
                <p th:text="${merchant.companyDescription}"></p>
                <p th:text="${merchant.street}"></p>
                <p th:text="${merchant.number}"></p>
                <p th:text="${merchant.postalCode}"></p>
                <p th:text="${merchant.city}"></p>
                <p th:text="${merchant.country}"></p>
                <p th:text="${merchant.telephone}"></p>
                <p th:text="${merchant.email}"></p>
            </div>
        </div>
        <div class="col s12 m6">
            <h2>Choose your voupon</h2>
            <div th:each="voupon : ${voupons}" class="col s12 l6">
                <div class="card white z-depth-4">
                    <div class="card-content black-text">
                        <span th:text="${voupon.name}" class="card-title">Voupon Name</span>
                        <a class="website" alt="Visit website on Voupon" th:href="@{'http://localhost:8080/' + ${merchant.pageHandle}}" target="_blank"><i class="material-icons">public</i></a>
                        <p th:text="${voupon.name + ' ' + voupon.description + ', ' + voupon.theme + ' ' + voupon.expireDate}">Merchant address</p>
                        <div th:if="${!voupon.vouponValues.empty}">
                            <p th:text="${voupon.vouponValues[0].value}"></p>
                        </div>
                    </div>
                <p th:text="${merchant.checkoutDescription}"></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>