<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Pricing - Voupon</title>
    <th:block th:include="~{fragments/head :: body.head}"></th:block>
</head>
<body class="grey lighten-4">
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Pricing</h1>
      <p>As a merchant you give a small commission of 8,49% on the turnover, 15 € once a month and everything is taken care of for you.</p>
    </div>
  </div>
</div>
<script src="/js/m.js"></script>
</body>
</html>