<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color:#e9ebee; padding: 25px;">
  <tr>
    <td align="center">
      <table border="0" cellspacing="0" cellpadding="0" style="width:100%; max-width:600px; background-color:#ffffff; border-radius:10px; padding: 25px;">
        <tr>
          <td align="center">
            <img src="sample.png" th:src="|cid:${vouponlogo}|" />
          </td>
        </tr>
        <tr>
          <td>
            <p>Welcome to Voupon <span th:text="${firstname + ' ' + lastname}"></span></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>